{
  "env": {
    "next": {
      "presets": "next/babel",
      "plugins": [
        [
          "styled-components",
          {
            "ssr": true,
            "displayName": true,
            "preprocess": false
          }
        ]
      ]
    },
    "api": {
      "presets": "env",
      "plugins": [
        "transform-object-rest-spread",
        "transform-regenerator",
        "syntax-async-functions"
      ]
    },
    "development": {
      "presets": ["env", "next/babel"],
      "plugins": [
        "transform-object-rest-spread",
        "transform-regenerator",
        "syntax-async-functions",
      ],
      "ignore": [
        "node_modules",
        ".next"
      ]
    }
  }
}
